.example-spacer {
    flex: 1 1 auto;
}


.toolbar {
    margin-right: 25px;
  
    &.button {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .buttonSignUpOff {
    display: none;
  }

  .buttonSignUpOn {
    display: inline-block;
    margin-right: 15px;
  }
  
  .no-select {
    cursor: pointer;
    user-select: none;
  }

  mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 32px;
  }
  
  .profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
  }